# ignore everything initially
*

# whitelist
# .config
#!Scripts/
#Scripts/*

!.config/
.config/*

!.config/REAPER/
!.config/REAPER/**

!.config/nvim/
!.config/nvim/**

!.config/consave/
!.config/consave/**

#!.config/keepassxc/
#!.config/keepassxc/**

!.config/bashrc.d/
!.config/bashrc.d/**
.config/bashrc.d/private

#!.config/age/
#!.config/age/**

## .local
!.local/
.local/*

!.local/share/
.local/share/*

!.local/share/wallpapers/
!.local/share/wallpapers/**

!.local/share/backgrounds/
!.local/share/backgrounds/**

#!.local/share/gnupg/
#!.local/share/gnupg/**

!.local/share/icons/custom/
!.local/share/icons/custom/**

#!.local/share/konsole/
#!.local/share/konsole/**

#!.local/share/pass/
#!.local/share/pass/**

#!.local/IR/
#!.local/IR/**

## Documents
#!Dokumente/
#Dokumente/*


#!Dokumente/VimWiki/
#!Dokumente/VimWiki/**
#
#!Dokumente/Vorlagen/
#!Dokumente/Vorlagen/**
#
#!Dokumente/Textfiles/
#!Dokumente/Textfiles/**
#
#!Dokumente/Notizen/
#!Dokumente/Notizen/**
#
#!Dokumente/Anki/
#!Dokumente/Anki/**
#
#!Dokumente/Inkscape/
#!Dokumente/Inkscape/**
#
#!Dokumente/Scripts_Unsortiert/
#!Dokumente/Scripts_Unsortiert/**


## single files

!.bashrc

!.profile

#!.ssh

!Webpages/

!.gitignore


