snippet _if
	if (${1: comp1} ${2: opeator} ${3: comp2}) then
		${4: codeblock}
	end
endsnippet

snippet _for-i
	for ${1: iter} = ${2: start},${3: end},${4: step} do
		${5: codeblock}
	end
endsnippet

snippet _ifelse
	if (${1: comp1} ${2: opeator} ${3: comp2}) then
		${4: codeblock1}
	else
		${5: codeblock2}
	end
endsnippet
